.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  #grid {
    position: absolute;
    top: 100px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr 88px repeat(16, 1fr);
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 250px);
    overflow: hidden;
    pointer-events: none;

    #screen-warning {
      grid-column: 2/24;
      grid-row: 2/6;
      height: fit-content;
      background-color: rgb(255, 0, 0);
      border: 1px solid rgb(179, 0, 0);
      color: white;
      border-radius: 12px;
      padding: 8px 4px 4px 4px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-align: center;

      #warning {
        font-size: 24px; 
        margin-bottom: 10px;
      }

      #warning-text {
        color: black;
        background-color: white;
        padding: 14px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    .card {
      padding: 18px;
      background-color: rgba(255,255,255,0.70);
      box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.20);
      border-radius: 12px;
      backdrop-filter: blur(10px);
      pointer-events: all;
      transition: all 0.3s;

      &:hover {
        background: rgba(255,255,255,0.95);
        box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.10);
      }
    }
  }

  .hidden {
    transform: translate(0, 110%);
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  .App {
    #grid,
    #no-support-container {
      height: calc(100vh - 200px);
    }
  }
}