#chart-cont {
  grid-column: 2/25;
  grid-row: 3/18;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  padding-bottom: 5px !important;
  position: relative;
  z-index: 2;

  #chart-tips-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;

    #chart-tip-zoom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid rgb(210,210,210);

      &:hover {
        cursor: default;
      }
    }

    #chart-tip-adj-factors {
      position: absolute;
      top: 0px;
      left: 43px;
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid rgb(210,210,210);

      &:hover {
        cursor: default;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        left: -9px;
        height: 15px;
        width: 15px;
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid rgb(210,210,210);
        border-bottom: 1px solid rgb(210,210,210);
      }
    }
  }

  .station-name {
    position: absolute;
    top: 8px;
    right: 45px;
    width: 250px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;

    &:hover {
      cursor: default;
    }
  }

  .zoom-instructions {
    position: absolute;
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #6d6a6a;
    z-index: 1;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  #chart-control {
    display: flex;
    justify-content: flex-start;
    margin-top: -18px;
    margin-bottom: 5px;
    margin-left: -18px;
    margin-right: -18px;
    border-bottom: 1px solid lightgray;

    #download-csv {
      background-color: #f50057;
      color: white;
      margin-top: 4px;
      height: 40px;
      font-size: 13px;
    }
  }

  #tab-panel {
    flex-grow: 1;
    border-radius: 12px;
    overflow: auto;
    background: white;
    position: relative;

    #adj-factors {
      position: absolute;
      top: 2px;
      left: 2px;
      padding: 10px;
      color: rgb(73, 165, 252);
      background-color: white;
      z-index: 3;
      font-size: 12px;
      width: 62px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    #adj-popper {
      z-index: 5;

      #popper-info {
        background-color: white;
      }
    }
  }
}

.sticky-row > .MuiTableCell-stickyHeader {
  top: 37px;
}

.col-shaded {
  background-color: rgb(255, 238, 238);
}

.ci-toggles {
  margin-top: 5px;
  
  .toggle-label {
    font-size: 12px;
    color: rgb(110,110,110);
    text-align: center;
  }

  .toggle-container {
    display: flex;
    justify-content: space-between;
    position: relative;

    #toggle-popper {
      z-index: 5;

      .toggle-info-top {
        margin-bottom: 10px;
      }

      .toggle-info-bottom,
      .toggle-info-top {
        display: flex;
      }

      .dot {
        height: 15px;
        width: 15px;
        border-radius: 8px;
        margin-right: 3px;
      }

      .red {
        background-color: #ff6969
      }

      .blue {
        background-color: #16bcfe;
      }
    }
  }
}

.logo-overlay {
  position: absolute;
  height: 32px;
  bottom: 10px;
  right: 20px;
  z-index: 1;
}

@media (max-width: 1100px) {
  #chart-cont {
    .station-name {
      font-size: 12px;
      width: 160px;
    }
  }
}