#selected-cont {
  grid-column: 24;
  grid-row: 2;
  box-sizing: border-box;
  width: 210px;
}

#favorites-cont {
  grid-column: 24;
  grid-row: 3/14;
  box-sizing: border-box;
  width: 210px;
  
  #srw {
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    .favorites-placeholder-text {
      text-align: center;
    }
  }
}