.footer {
  height: 100px;
  width: 100vw;
  background-color: #eee;
  border-top: 1px solid rgb(200,200,200);
  text-align: center;
  
  #footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1024px;
    margin: 0 auto;

    .footer-logos-left {
      padding-top: 5px;
      padding-left: 10px;
      width: 140px;
      height: 95px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 20px 60px;
      grid-gap: 7px;
      
      #footer-left-epa {
        grid-column: 2;
        grid-row: 2;
        
        #epa-cont {
          margin: 0 auto;
          height: 60px;
          width: 60px;
          
          #epa {
            max-width: 60px;
            pointer-events: none;
          }
        }
      }
      
      #footer-left-rand {
        grid-column: 1;
        grid-row: 2;
        
        #rand-cont {
          margin: 0 auto;
          height: 60px;
          width: 60px;
          
          #rand {
            max-width: 60px;
            pointer-events: none;
          }
        }
      }
      
      #footer-left-cmu {
        grid-column: span 2;
        grid-row: 1;
        
        #cmu-cont {
          margin: 0 auto;
          height: 20px;
          width: 140px;
          
          #cmu {
            max-width: 174px;
            transform: translate(-17px, -47px);
            pointer-events: none;
          }
        }
      }
      
      
    }

    .footer-logos-right {
      padding-right: 5px;
      padding-top: 5px;
      width: 225px;
      height: 95px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      
      #footer-right-cbt {
        grid-column: 2;
        grid-row: 2;
        
        #cbt-cont {
          margin: 0 auto;
          height: 48px;
          width: 90px;
          position: relative;
          top: -5px;
          
          #cbt {
            max-width: 90px;
            pointer-events: none;
          }
        }
      }

      #footer-right-vtrc {
        grid-column: 2;
        grid-row: 1;
        
        #vtrc-cont {
          margin: 0 auto;
          height: 40px;
          width: 100px;
          padding-top: 5px;
          
          #vtrc {
            max-width: 100px;
            pointer-events: none;
          }
        }
      }

      #footer-right-ccrfr {
        grid-column: 1;
        grid-row: 2;
        
        #ccrfr-cont {
          margin: 0 auto;
          height: 42px;
          width: 90px;
          padding-right: 6px;
          
          #ccrfr {
            max-width: 90px;
            pointer-events: none;
          }
        }
      }

      #footer-right-nrcc {
        grid-column: 1;
        grid-row: 1;
        
        #nrcc-cont {
          margin: 0 auto;
          height: 35px;
          width: 110px;
          
          #nrcc {
            max-width: 192px;
            transform: translate(-23%, -42%);
            pointer-events: none;
          }
        }
      }
    }
    
    .footer-text {
      height: fit-content;
      width: 636px;
      padding: 0 5px;
      margin: 0 auto;
      font-size: 10px;
      
      p {
        margin: 10px auto;
      }
    }
  }
}