.header {
  display: flex;
  height: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1024px;
  margin: 0 auto;

  .marisa-logo,
  .cbp-logo {
    box-sizing: border-box;
    height: 100px;
    padding: 23px 10px;
    width: 250px;
    
    &:hover {
      cursor: pointer;
    }
  }

  .cbp-logo {
    padding: 3px;
    width: 200px;

    img {
      max-height: 94px;
    }
  }
  
  .header-center {
    width: 574px;
    box-sizing: border-box;
    padding: 10px 0px;
    position: relative;

    #site-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
    }
  
    .nav {
      position: relative;
      top: 11px;
  
      #link-container {
        width: 500px;
        margin: 0 auto;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
        .link {
          box-sizing: border-box;
          padding: 7px 10px;
          transition: all .2s;
          border-color: rgba(210,210,210,0.5);
          border-style: solid;
          border-width: 1px 1px 0px 1px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size: 16px;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            background-color: rgba(210,210,210,0.5);
          }
        }
  
      }
    }
  }
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;

  &:hover {
    cursor: pointer;
  }
}

#custom-modal-title {
  font-size: 32px;
  margin-top: 0;
}

#custom-modal-description {

  .list-title {
    font-weight: bold;
  }

  .modal-footnote {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }

  ul {
    margin-top: 6px;
  }
}