.header {
  display: flex;
  height: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .org-logo {
    box-sizing: border-box;
    height: 100px;
    padding: 15px 10px;
    width: 300px;
    border-radius: 50%;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  .header-right {
    width: calc(100vw - 300px);
    box-sizing: border-box;
    padding: 10px;
    position: relative;

    #site-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      max-width: 705px;
      margin: 0 auto;
      padding-right: 80px;
    }
  
    .nav {
      position: absolute;
      bottom: 0px;
      right: 0px;
  
      #link-container {
        font-size: 17px;
        display: flex;
        justify-content: flex-end;
  
        .link {
          box-sizing: border-box;
          margin-right: 20px;
          padding: 10px;
          transition: all .2s;
          border-color: rgba(210,210,210,0.5);
          border-style: solid;
          border-width: 1px 1px 0px 1px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            background-color: rgba(210,210,210,0.5);
          }
        }
  
      }
    }
  }
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;

  &:hover {
    cursor: pointer;
  }
}

#custom-modal-title {
  font-size: 32px;
  margin-top: 0;
}

#custom-modal-description {

  .list-title {
    font-weight: bold;
  }

  .modal-footnote {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }

  ul {
    margin-top: 6px;
  }
}