#map-cont {
  width: 100%;
  height: 100%;

  .map-nav {
    position: absolute;
    bottom: 3vh;
    right: 10px;
  }

  .marker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 11px;
    height: 11px;
    transform: translate(0, -100%) rotate(45deg);
    border-radius: 8px 8px 2px 8px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
      transform: translate(0, -100%) rotate(45deg) scale(1.5);
    }

    &.current {
      transform: translate(0, -100%) rotate(45deg) scale(1.5);

      .marker-dot {
        box-shadow: 0px 0 0px 8px rgb(255, 0, 0)
      }
    }

    .marker-dot {
      width: 3px;
      height: 3px;
      border-radius: 100%;
      border: 1px solid black;
      box-shadow: 0px 0 0px 8px rgb(255, 255, 255);
      transition: all 0.3s;
    }
  }

  .popup-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0px;
    max-width: 225px;
    .popup-title {
      font-weight: 600;
    }
    .popup-num {
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      padding-right: 20px;
    }
    .popup-footnote {
      font-size: 10px;
      text-align: center;

    }
    hr {
      width: 220px;
      margin: 0px;
    }
  }
}
