#search-cont {
  grid-column: 20/25;
  grid-row: 2;
}

#search-result {
  grid-column: 20/25;
  grid-row: 4/18;

  #result-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 24px;
  }

  #favorite-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    
  }
}

