#search-cont {
  grid-column: 21/25;
  grid-row: 2;

  .MuiFormControl-root {
    margin: -5px;
    margin-top: -15px;
  }
}

#search-result {
  grid-column: 21/25;
  grid-row: 3/15;
  overflow: auto;

  #result-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 12px;
  }

  #favorite-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    
  }
}

@media (max-width: 1200px) {
  #search-cont {
    grid-column: 20/25;
  }

  #search-result {
    grid-column: 20/25;
  }  
}